{% extends 'ecom/base.html' %}
{% block body %}
    <div class="container-fluid mt-5 mb-5">
        <h2 class="mb-5" style="text-align: center; border-bottom: 2px solid black;">Products</h2>
        <div class="row">
            {% for product in products %}
                <div class="card ml-5 mb-5" style="width: 18rem;    box-shadow: 10px 10px 5px grey;">
                    <a href="{% url 'ecom:product' product.slug|slugify %}">
                        <img class="card-img-top image-resize2"
                             src="{{ product.product_image.url }}"
                             alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'ecom:product' product.slug|slugify %}" style="color: black">
                            <h4 class="card-title">{{ product.name }}</h4>
                        </a>
                            <h5 class="card-title">RS.{{ product.price }}</h5>
                            <a href="{% url 'ecom:add_to_cart' product.slug|slugify %}" class="btn btn-success">Add to card</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}