.top-div {
    background-color: white;
    height: 34px;
}

.navbar {
    background-color: #FCFCFC;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.photo-div {
    opacity: 0.2;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    height: 533px;
    text-align: center;
}

.card {
    padding: 5px;
    margin: 5px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.partnership-div {
    background-color: #CCCCCC;
    margin-right: 20px;
    margin-left: 20px;
    height: 730px;
    text-align: center;
}

.photo-video {
    background-color: #7F7F7F;
    height: 340px;
    text-align: center;
}

footer {
    background-color: #0F0F0F;
    height: 334px;
    text-align: center;
    color: white;
}

a {
    color: white;
}

.overlay {

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0.5;
    transition: .5s;
    background: white;

}

.overlay:hover {
    opacity: 1;
    background: white;
}

.image-resize {
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: 90px;
    width: 380px;
    object-fit: contain;
    object-position: center center;
}

.image-resize1 {
    background-color: #fff;
    max-width: 100%;
    height: 155px;
    width: auto;
    object-fit: cover;
    object-position: center center;
}

.image-resize2 {
    background-color: #fff;
    max-width: 100%;
    height: 192px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.image-resize3 {
    background-color: #fff;
    max-width: 100%;
    height: 500px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.login-image {
    max-width: 100%;
    width: 100px;
    object-fit: contain;
    margin-left: 7vh;
}