{% extends 'dashboard/base.html' %}
{% block body %}
    <link rel="stylesheet"
          href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

    <script>
        $(document).ready(function () {

            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                removeItemButton: true,
                maxItemCount: 5,
                {#searchResultLimit: 10,#}
                {#renderChoiceLimit: 100,#}
            });


        });
    </script>
    <style>
        .drop-zone {
            max-width: 350px;
            height: 300px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: "Quicksand", sans-serif;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
            color: #cccccc;
            border: 4px dashed black;
            border-radius: 10px;

        }

        .drop-zone--over {
            border-style: solid;
        }

        .drop-zone__input {
            display: none;
        }

        .drop-zone__thumb {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #cccccc;
            background-size: cover;
            position: relative;
        }

        .drop-zone__thumb::after {
            content: attr(data-label);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5px 0;
            color: #ffffff;
            background: rgba(0, 0, 0, 0.75);
            font-size: 14px;
            text-align: center;
        }

    </style>
    <div class="container container-fluid">
        <div class="justify-content-center">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <h3 class="font-weight-light my-4">Add Photo</h3>
                <div class="form-group">
                    <label for="inputGroupFile">Choose A File</label>
                    <div class="form-group drop-zone ">
                        <span class="drop-zone__prompt">Drop file here or click to upload</span>
                        <input type="file" class="drop-zone__input" id="inputGroupFile" name="product_image"
                               onchange="validateImage()" accept="image/*" required>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="titles">Name:</label>
                    <input type="text" class="form-control" name="name" id="titles" required>
                </div>
                <div class="form-group mb-3">
                    <label for="titles">Price</label>
                    <input type="number" class="form-control" name="price" id="titles" min="10" max="30000" required>
                </div>
                <div class="form-group mb-3">
                    <label for="titles">Stock</label>
                    <input type="number" class="form-control" name="stock" id="titles"min="1" max="100" required>
                </div>
                <div class="form-group mb-3">
                    <label for="choices-multiple-remove-button">Category:</label>
                    <select class="selectpicker" id="choices-multiple-remove-button"
                            placeholder="You can select upto 5 Category"
                            multiple multiple data-live-search="true"
                            name="category" required>
                        {% for cat in category %}
                            <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <h3>description</h3>
                    {{ fm.description }}
                </div>

                <button type="submit" class="btn btn-primary">Add Photo</button>
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Image More Than 2 MB</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please Upload Photo less than 2 MB
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");
            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                    dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        /**
         * Updates the thumbnail on a drop zone element.
         *
         * @param {HTMLElement} dropZoneElement
         * @param {File} file
         */
        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }

            thumbnailElement.dataset.label = file.name;

            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                    thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }

    </script>

    <script>
        var uploadField = document.getElementById("inputGroupFile");

        uploadField.onchange = function () {
            if (this.files[0].size > 2e+6) {
                $('#exampleModalCenter').modal('show');
                this.value = "";
            }
        };
    </script>

{% endblock %}