{% extends 'dashboard/base.html' %}
{% block body %}
    <link rel="stylesheet"
          href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

    <script>
        $(document).ready(function () {

            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                removeItemButton: true,
                maxItemCount: 5,
                searchResultLimit: 5,
            });
        });
    </script>

    <div class="container mb-3">
        <div class="justify-content-center">
            <form class="container mt-2" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="text-center mb-3">
                    <h3>Update Photo</h3>
                    <img id="blah" src="{{ pi.product_image.url }}" alt="{{ pi.name }}"
                         style="width: 350px;height: 265px">
                </div>
                <label for="choosefile">Choose a file:</label>
                <div class="custom-file mb-3">

                    <input type="file" class="custom-file-input .overflow-auto" id="choosefile"
                           name="product_image" onchange="readURL(this);" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose New File</label>
                </div>
                <p>Name</p>
                <div class=" mb-3">
                    <input type="text" class="form-control" name="name" value="{{ pi.name }}">
                </div>

                <div class="mb-3">
                    <label for="choices-multiple-remove-button">Select a Category</label>
                    <select class="selectpicker" id="choices-multiple-remove-button"
                            placeholder="Select upto 5 Category"
                            multiple multiple data-live-search="true"
                            name="category" required>
                        {% for cat in category %}
                            <option value="{{ cat.id }}" {% if cat.category_name in pi.product_category %}
                                    selected{% endif %} >{{ cat.category_name }}</option>
                            {{ pi.product_category }}
                        {% endfor %}
                    </select>
                </div>
                <div class=" mb-3">
                    Price<input type="number" class="form-control" name="price" value="{{ pi.price }}">
                </div>
                <div class=" mb-3">
                    Stock<input type="number" class="form-control" name="stock" value="{{ pi.stock }}">
                </div>
                Description
                <div class=" mb-3">
                    <textarea name="description" rows="4" cols="50">{{ pi.description|safe }}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
            var uploadField = document.getElementById("inputGroupFile");
            if (this.files[0].size > 200) {
                alert("please input file less than 2 Mb");
                this.value = "";
            }
        }
    </script>
    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");
            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                    dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        /**
         * Updates the thumbnail on a drop zone element.
         *
         * @param {HTMLElement} dropZoneElement
         * @param {File} file
         */
        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }

            thumbnailElement.dataset.label = file.name;

            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                    thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }

    </script>
    <script>
        var uploadField = document.getElementById("inputGroupFile");

        uploadField.onchange = function () {
            if (this.files[0].size > 200) {
                alert("please input file less than 2 Mb");
                this.value = "";
            }
        };
    </script>


{% endblock %}